A:link		{color:#FFC040}
A:visited	{color:#C09030}
A:active	{color:#FFEA60}
A:hover		{color:#FFFFFF}

A:link,A:visited,A:active,A:hover{
  text-decoration:none;
  font-weight:bold;
}

body{
  background: url(../img/back2c.jpg) #040420;
  color: white;
  font: 0.7em verdana;
}

table{
  color: white;
  font-size: 1em;
}

table.c1{
  width: 100%;
  background: black;
  border: #666699 1px solid;
}

table.c2{
  width: 100%;
  background: black;
  border: #333355 1px solid;
  font-size: 0.9em;
}

tr.h{
  background: url(../img/backh.png) #636594;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  color: #DDDDDD;
}

tr.c{
  background: url(../img/backc2.png) #3945BD;
  text-align: center;
  font-size: 0.9em;
  color: #EEEEEE;
}

td{
  padding: 1px;
}

td.b{
  border-left: #000000 1px solid;
  border-top:  #000000 1px solid;
}

td.nb{
  border: 0px none;
}

td.h{
  border-left: 0;
  border-right: 0;
}

tr.n1,td.n1{
  background: url(../img/back2t1.png) #303678;
}

tr.n2,td.n2{
  background: url(../img/back2t2.png) #24285C;
}

tr.n3,td.n3{
  background: url(../img/back2t3.png) #1F224F;
}

.sfont{
  font-size: 0.8em;
}

textarea,input,select,button{
  border:    #7777DD ridge 2px;
  background:#000000;
  color:     #FFFFFF;
  font: 1em verdana;
}

.radio{
  border: none;
  background: none;
  color: #DDDDDD;
  font: 1em verdana;
}

.submit{
  border: #FFD040 ridge 2px;
  color: #FFD040;
  font-weight: bold;
}

.nc0x{color:#888888} .nc1x{color:#888888} .nc2x{color:#888888}
.nc00{color:#97ACEF} .nc10{color:#F185C9} .nc20{color:#7C60B0}
.nc01{color:#D8E8FE} .nc11{color:#FFB3F3} .nc21{color:#EEB9BA}
.nc02{color:#AFFABE} .nc12{color:#C762F2} .nc22{color:#47B53C}
.nc03{color:#FFEA95} .nc13{color:#C53A9E} .nc23{color:#F0C413}