/* META
Acid (Ice Man)

*/

a:link, a:visited, a:active{ 
text-decoration: none; 
font-weight: bold; 
color: #6FC600 
} 

a:hover{ 
color: #B3FF00; 
text-decoration:none 
} 

body{ 
font-family: Verdana, Tahoma, Arial, sans-serif; 
font-size: 10px; 
color: #B4BFAA; 
margin: 0.0 auto; 
padding: 0.0; 
height: 100.0%; 
background-color:#050505; 
width: 86%; 
} 

table{ 
font-family: Verdana, Tahoma, Arial, sans-serif; 
font-size: 10px; 
color: #B4BFAA; 
margin: auto; 
width: 100%; 
} 

table.c1{ 
width: 100%; 
background: black; 
border: 0px none; 
} 

table.c2{ 
width: 100%; 
background: black; 
border: 0px none; 
font-size: 0.9em; 
} 

tr.h{ 
background-position: center; 
text-align: center; 
vertical-align:middle; 
color:#B4BFAA; 
letter-spacing:1px; 
font: 10px Verdana, Tahoma, Arial, sans-serif; 
font-weight: bold; 
padding:8px 0px 6px 5px; 
background-color: #1D1D1D; 
background-image: url(../theme/acid/cellh.gif); 
height: 30px; 
} 

tr.h a:link, .tdbgh a:visited, .tdbgh a:active{ 
text-decoration: none; 
color: #B4BFAA 
} 

tr.h a:hover{ 
text-decoration: 
underline; 
color: #93A683 
} 

tr.c{ 
font-weight:bold; 
color:#B4BFAA; 
padding:8px; 
margin:0px; 
background-color: #1D1D1D; 
background-image: url(../theme/acid/cellc.gif); 
height: 28px; 
} 

td.b{ 
border-left: #2E2E2E 1px solid; 
border-top: #2E2E2E 1px solid; 
padding: 1px; 
} 

td.nb{ 
border: 0px none; 
padding: 1px; 
} 

td.h{ 
border-left: 0; 
border-right: 0; 
padding: 1px; 
} 

tr.n1,td.n1{ 
background-color: #1D1D1D; 
border-bottom: #000000 1px solid; 
border-left: #2E2E2E 1px solid; 
padding: 3px; 
border-spacing: 2px; 
} 

tr.n2,td.n2{ 
background-color: #1D1D1D; 
border-bottom: #000000 1px solid; 
border-left: #2E2E2E 1px solid; 
padding: 3px; 
border-spacing: 2px; 
} 

tr.n3,td.n3{ 
background-color: #1D1D1D; 
border-bottom: #000000 1px solid; 
border-left: #2E2E2E 1px solid; 
padding: 3px; 
border-spacing: 2px; 
} 

.sfont{ 
font-size: 0.8em; 
} 

select,textarea,input,button{ 
font-size: 11px; 
font-family: verdana, helvetica, sans-serif; 
vertical-align: middle; 
color: #B4FF00; 
border: 1px solid #B4FF00; 
background-color: #0A0A0A; 
} 

.radio{ 
border: none; 
background: none; 
color: #000000; 
} 

.submit{ 
border: 3px solid #B4FF00; 
} 

.center{ 
text-align: center; 
} 

.right{ 
text-align: right; 
} 

ins{ 
border: 1px #000000 dashed; 
text-decoration: none; 
color: #1D1D1D; 
} 

del{ 
border: 1px #000000 dashed; 
text-decoration: none; 
color: #1D1D1D; 
} 

blockquote{ 
border: #000000 1px solid; 
padding: 3px; 
} 

hr{ 
color: #000000; 
background-color :#000000; 
border: 0px; 
height: 1px; 
} 

form{ 
margin: 0px; 
padding: 0px; 
} 

ul, ol{ 
margin: 0px; 
} 

.nc0x{color:#888888} .nc1x{color:#888888} .nc2x{color:#888888}
.nc00{color:#97ACEF} .nc10{color:#F185C9} .nc20{color:#7C60B0}
.nc01{color:#D8E8FE} .nc11{color:#FFB3F3} .nc21{color:#EEB9BA}
.nc02{color:#AFFABE} .nc12{color:#C762F2} .nc22{color:#47B53C}
.nc03{color:#FFEA95} .nc13{color:#C53A9E} .nc23{color:#F0C413}
