/* META
Acmlm's ROM Hack Domain (Acmlm, KP9000)

*/

A:link		{color:#FFC040}
A:visited	{color:#C09030}
A:active	{color:#FFEA60}
A:hover		{color:#FFFFFF}

A:link,A:visited,A:active,A:hover{
  text-decoration:none;
  font-weight:bold;
}

body{
  background: url(../theme/arhd/bg5.gif) #6e0000;
  color: white;
  font-family: verdana, geneva, sans-serif;
}

table{
  color: white;
  font-size: 1em;
}

table.c1{
  width: 100%;
  background: black;
  border: #668899 1px solid;
}

table.c2{
  width: 100%;
  background: black;
  border: #668899 1px solid;
  font-size: 0.9em;
}

tr.h{
  background: url(../theme/arhd/bg1.gif) #00269d;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  color: #DDDDDD;
}

tr.c{
  background: url(../theme/arhd/bg2.gif) #000015;
  text-align: center;
  font-size: 0.9em;
  color: #EEEEEE;
}

td.b{
  border-left: #283d80 1px solid;
  border-top:  #334489 1px solid;
  padding: 1px;
}

td.nb{
  border: 0px none;
  padding: 1px;
}

td.h{
  border-left: 0;
  border-right: 0;
  padding: 1px;
}

tr.n1,td.n1{
  background: url(../theme/arhd/bg4.gif) #000046;
}

tr.n2,td.n2{
  background: url(../theme/arhd/bg3.gif) #00003e;
}

tr.n3,td.n3{
  background: url(../theme/arhd/bg2.gif) #000000;
}

.sfont{
  font-size: 0.8em;
}

textarea,input,select,button{
  border:    #668899 ridge 2px;
  background:#000000;
  color:     #FFFFFF;
  font: 1em verdana;
}

.radio{
  border: none;
  background: none;
  color: #DDDDDD;
  font: 1em verdana;
}

.submit{
  border: #F0C413 ridge 2px;
  color: #F0C413;
  font-weight: bold;
}

ins{
  background: url(../theme/arhd/bg3.gif);
  border: 1px #668899 dashed;
  text-decoration: none;
  color: #40FF30;
}

del{
  background: url(../theme/arhd/bg3.gif);
  border: 1px #FFEA95 dashed;
  text-decoration: none;
  color: #FF4000;
}

/* This section uses CSS to replace various link onpart of the board with images per each theme.
Right now there is a mix of two style of CSS replacement. One is to make up for the fact Mozilla doesn't render
content: url(); without :before or :after */

a[class~="newreply"] { 
  display: -moz-inline-box;
  display: inline-block;
  text-indent: -3000px;
  font: 0/0 Arial;
  overflow: hidden;
  color: rgba(255,255,255,0);
  width: 70px;
  height: 16px;
  background: url('../theme/arhd/newreply.png');
  content: url('../theme/arhd/newreply.png'); 
}

a[class~="newthread"] { 
  display: -moz-inline-box;
  display: inline-block;
  text-indent: -3000px;
  font: 0/0 Arial;
  overflow: hidden;
  color: rgba(255,255,255,0);
  width: 76px;
  height: 16px;
  background: url('../theme/arhd/newthread.png');
  content: url('../theme/arhd/newthread.png'); 
}

a[class~="newpoll"] { 
  display: -moz-inline-box;
  display: inline-block;
  text-indent: -3000px;
  font: 0/0 Arial;
  overflow: hidden;
  color: rgba(255,255,255,0);
  width: 59px;
  height: 16px;
  background: url('../theme/arhd/newpoll.png');
  content: url('../theme/arhd/newpoll.png'); 
}

.nc0x{color:#888888} .nc1x{color:#888888} .nc2x{color:#888888}
.nc00{color:#97ACEF} .nc10{color:#F185C9} .nc20{color:#7C60B0}
.nc01{color:#D8E8FE} .nc11{color:#FFB3F3} .nc21{color:#EEB9BA}
.nc02{color:#AFFABE} .nc12{color:#C762F2} .nc22{color:#47B53C}
.nc03{color:#FFEA95} .nc13{color:#C53A9E} .nc23{color:#F0C413}
