/* META
Christmas (Acmlm, KP9000)

*/

A:link		{color:#80df88}
A:visited	{color:#df8080}
A:active	{color:#00baff}
A:hover		{color:#e5984b}

A:link,A:visited,A:active,A:hover{
  text-decoration:none;
  font-weight:bold;
}

body{
  background: url(../theme/christmas/bg1.gif) #050931;
  color: white;
  font-family: verdana, geneva, sans-serif;
}

table{
  color: white;
  font-size: 1em;
}

table.c1{
  width: 100%;
  background: black;
  border: #000000 1px solid;
}

table.c2{
  width: 100%;
  background: black;
  border: #000000 1px solid;
  font-size: 0.9em;
}

tr.h{
  background: url(../theme/christmas/bg4.gif) #081c99;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  color: #DDDDDD;
}

tr.c{
  background: url(../theme/christmas/bg5.gif) #654321;
  text-align: center;
  font-size: 0.9em;
  color: #EEEEEE;
}

td.b{
  border-left: #000000 1px solid;
  border-top:  #000000 1px solid;
  padding: 1px;
}

td.nb{
  border: 0px none;
  padding: 1px;
}

td.h{
  border-left: 0;
  border-right: 0;
  padding: 1px;
}

tr.n1,td.n1{
  background: url(../theme/christmas/bg2.gif) #401023;
}

tr.n2,td.n2{
  background: url(../theme/christmas/bg3.gif) #052112;
}

tr.n3,td.n3{
  background: url(../theme/christmas/bg2.gif) #401023;
}

.sfont{
  font-size: 0.8em;
}

textarea,input,select,button{
  border:    #339940 ridge 3px;
  background:#000000;
  color:     #FFFFFF;
  font: 1em verdana;
}

.radio{
  border: none;
  background: none;
  color: #DDDDDD;
  font: 1em verdana;
}

.submit{
  border: #339940 ridge 3px;
  color: #ff9999;
  font-weight: bold;
}

ins{
  background: url(../theme/christmas/bg2.gif);
  border: 1px #000000 dashed;
  text-decoration: none;
  color: #40FF30;
}

del{
  background: url(../theme/christmas/bg2.gif);
  border: 1px #000000 dashed;
  text-decoration: none;
  color: #FF4000;
}

/*Custom Colors. You will need to add one for each new group you add if you this this theme to show it differently.
This also applies if you restructure your groups. 
ncXY X = gender (0=M, 1=F, 2=N) and Y=group id # */
#nc02{color:#90E090 !important; text-decoration: none;}
#nc12{color:#FC7676 !important; text-decoration: none;}
#nc22{color:#5BBCD4 !important; text-decoration: none;}


.nc0x{color:#888888} .nc1x{color:#888888} .nc2x{color:#888888}
.nc00{color:#97ACEF} .nc10{color:#F185C9} .nc20{color:#7C60B0}
.nc01{color:#D8E8FE} .nc11{color:#FFB3F3} .nc21{color:#EEB9BA}
.nc02{color:#AFFABE} .nc12{color:#C762F2} .nc22{color:#47B53C}
.nc03{color:#FFEA95} .nc13{color:#C53A9E} .nc23{color:#F0C413}
