/* META
Danicess (Acmlmboard 1.x Classic)

*/
a:link		{color: #FEB7CE}
a:visited	{color: #CE778E}
a:active	{color: #7E4098}
a:hover		{color: #EEEEEE}

a:link, a:visited, a:active, a:hover {
	text-decoration: none;
	font-weight: bold;
}
body {
	background-color: #181031;
	background-image: url(../theme/dani/starbg.png);
	font-family: "book antiqua";
}
body, table {
	color: #EEE0F8;
	font-size: 13px;
}
table.c1, table.c2 {
  width: 100%;
  border-collapse: collapse;
}
td.b {
	border: 1px solid #500078;
}
td.n1, tr.n1 td {
	background: #000000;
}
td.n2, tr.n2 td {
	background: #180024;
}
td.n3, tr.n3 td {
	background: #180024;
}
td.h, tr.h td {
	background: #662299;
	color: #FFEEFF;
}
tr.c td {
	background: #300048;
	color: #FFEEFF;
}
tr.h td, tr.c td {
	text-align: center;
}

.sfont {
	font-size: 10px;
	font-family: tahoma;
}

.nc0x{color:#888888} .nc1x{color:#888888} .nc2x{color:#888888}
.nc00{color:#97ACEF} .nc10{color:#F185C9} .nc20{color:#7C60B0}
.nc01{color:#D8E8FE} .nc11{color:#FFB3F3} .nc21{color:#EEB9BA}
.nc02{color:#AFFABE} .nc12{color:#C762F2} .nc22{color:#47B53C}
.nc03{color:#FFEA95} .nc13{color:#C53A9E} .nc23{color:#F0C413}
textarea, input, select, button {
	border: 1px solid #552288;
	background-color: #000000;
	color: #EEE0F8;
	font-family: "book antiqua";
	font-size: 10pt;
}
.submit {
	border: 2px solid #552288;
}
input.radio {
	border:	none;
	background: none;
	color: #EEE0F8;
	font: 10pt "book antiqua";
}

a[class~="newreply"] { 
	display: -moz-inline-box;
	display: inline-block;
	text-indent: -3000px;
	font: 0/0 Arial;
	overflow: hidden;
	color: rgba(255,255,255,0);
	width: 65px;
	height: 12px;
	background: url('../theme/dani/newreplypurple.png');
	content: url('../theme/dani/newreplypurple.png'); 
}

a[class~="newthread"] { 
	display: -moz-inline-box;
	display: inline-block;
	text-indent: -3000px;
	font: 0/0 Arial;
	overflow: hidden;
	color: rgba(255,255,255,0);
	width: 70px;
	height: 12px;
	background: url('../theme/dani/newthreadpurple.png');
	content: url('../theme/dani/newthreadpurple.png'); 
}