/* META
Final Fantasy 9 (Acmlmboard 1.x Classic)

*/
a:link		{color: #C0C0C0}
a:visited	{color: #808080}
a:active	{color: #FFEA00}
a:hover		{color: #FFFFFF}

a:link, a:visited, a:active, a:hover {
	text-decoration: none;
	font-weight: bold;
}
body {
	background-color: #000000;
	background-image: url(../theme/ff9a/FF9b.gif);
	font-family: arial;
}
body, table {
	color: #FFEEDD;
	font-size: 13px;
}
table.c1, table.c2 {
  width: 100%;
  border-collapse: collapse;
}
td.b {
	border: 1px solid #FFFFFF;
}
td.n1, tr.n1 td {
	background: #111111 url(../theme/ff9a/FF9d.gif);
}
td.n2, tr.n2 td {
	background: #222222 url(../theme/ff9a/FF9a.gif);
}
td.h, tr.h td {
	background: #101859;
	color: #FFFFFF;
}
tr.c td {
	background: #101879;
	color: #FFFFFF;
}
tr.h td, tr.c td {
	text-align: center;
}

.sfont {
	font-size: 10px;
	font-family: tahoma;
}

a[class~="newreply"] {
  display: -moz-inline-box;
  display: inline-block;
  text-indent: -3000px;
  font: 0/0 Arial;
  overflow: hidden;
  color: rgba(255,255,255,0);
  width: 84px;
  height: 31px;
  background: url('../theme/ff9a/ff9arep.gif');
  content: url('../theme/ff9a/ff9arep.gif');
}

a[class~="newthread"] {
  display: -moz-inline-box;
  display: inline-block;
  text-indent: -3000px;
  font: 0/0 Arial;
  overflow: hidden;
  color: rgba(255,255,255,0);
  width: 84px;
  height: 31px;
  background: url('../theme/ff9a/ff9anew.gif');
  content: url('../theme/ff9a/ff9anew.gif');
}
.nc0x{color:#888888} .nc1x{color:#888888} .nc2x{color:#888888}
.nc00{color:#97ACEF} .nc10{color:#F185C9} .nc20{color:#7C60B0}
.nc01{color:#D8E8FE} .nc11{color:#FFB3F3} .nc21{color:#EEB9BA}
.nc02{color:#AFFABE} .nc12{color:#C762F2} .nc22{color:#47B53C}
.nc03{color:#FFEA95} .nc13{color:#C53A9E} .nc23{color:#F0C413}
textarea, input, select, button {
	border: 1px solid #FFFFFF;
	background-color: #000000;
	color: #FFEEDD;
	font-family: arial;
	font-size: 10pt;
}
.submit {
	border: 2px solid #FFFFFF;
}
input.radio {
	border:	none;
	background: none;
	color: #FFEEDD;
	font: 10pt arial;
}