/* META
Kafuka (Acmlm, KP9000)

*/

A:link		{color:#FFC040}
A:visited	{color:#C09030}
A:active	{color:#FFEA60}
A:hover		{color:#FFFFFF}

A:link,A:visited,A:active,A:hover{
  text-decoration:none;
  font-weight:bold;
}

body{
  background: url(../theme/kafuka/bg3.jpg) #b40600 fixed;
  color: white;
  font-family: verdana, geneva, sans-serif;
}

table{
  color: white;
  font-size: 1em;
}

table.c1{
  width: 100%;
  background: black;
  border-right: #000000 1px solid;
  border-bottom: #000000 1px solid;
}

table.c2{
  width: 100%;
  background: black;
  border-right: #000000 1px solid;
  border-bottom: #000000 1px solid;
  font-size: 0.9em;
}

tr.h{
  background: url(../theme/kafuka/bg4.gif) #883311;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  color: #DDDDDD;
}

tr.c{
  background: url(../theme/kafuka/bg5.gif) #441100;
  text-align: center;
  font-size: 0.9em;
  color: #EEEEEE;
}

td.b{
  border-left: #000000 1px solid;
  border-top:  #000000 1px solid;
  padding: 1px;
}

td.nb{
  border: 0px none;
  padding: 1px;
}

td.h{
  border-left: 0;
  border-right: 0;
  padding: 1px;
}

td.h:first-child
{
	border-left: 1px solid #000000;
}

tr.n1,td.n1{
  background: url(../theme/kafuka/bg2.jpg) #1c0101 fixed;
}

tr.n2,td.n2{
  background: url(../theme/kafuka/bg1.jpg) #340100 fixed;
}

tr.n3,td.n3{
  background: url(../theme/kafuka/bg5.gif) #441100 fixed;
}

.sfont{
  font-size: 0.8em;
}

textarea,input,select,button{
  border:    #562300 ridge 4px;
  background:#000000;
  color:     #FFFFFF;
  font: 1em verdana;
}

.radio{
  border: none;
  background: none;
  color: #DDDDDD;
  font: 1em verdana;
}

.submit{
  border: #cc0e06 ridge 2px;
  color: #d9600f;
  font-weight: bold;
}

ins{
  background: url(../theme/kafuka/bg2.png);
  border: 1px #000000 dashed;
  text-decoration: none;
  color: #40FF30;
}

del{
  background: url(../theme/kafuka/bg2.png);
  border: 1px #000000 dashed;
  text-decoration: none;
  color: #FF4000;
}

/* This section uses CSS to replace various link onpart of the board with images per each theme.
Right now there is a mix of two style of CSS replacement. One is to make up for the fact Mozilla doesn't render
content: url(); without :before or :after */

a[class~="newreply"] { 
  display: -moz-inline-box;
  display: inline-block;
  text-indent: -3000px;
  font: 0/0 Arial;
  overflow: hidden;
  color: rgba(255,255,255,0);
  width: 104px;
  height: 15px;
  background: url('../theme/kafuka/newreply.png');
  content: url('../theme/kafuka/newreply.png'); 
}

a[class~="newthread"] { 
  display: -moz-inline-box;
  display: inline-block;
  text-indent: -3000px;
  font: 0/0 Arial;
  overflow: hidden;
  color: rgba(255,255,255,0);
  width: 104px;
  height: 15px;
  background: url('../theme/kafuka/newthread.png');
  content: url('../theme/kafuka/newthread.png'); 
}

.nc0x{color:#888888} .nc1x{color:#888888} .nc2x{color:#888888}
.nc00{color:#97ACEF} .nc10{color:#F185C9} .nc20{color:#7C60B0}
.nc01{color:#D8E8FE} .nc11{color:#FFB3F3} .nc21{color:#EEB9BA}
.nc02{color:#AFFABE} .nc12{color:#C762F2} .nc22{color:#47B53C}
.nc03{color:#FFEA95} .nc13{color:#C53A9E} .nc23{color:#F0C413}
