/* META
The Left Mouse Button (TKB)

*/

A:link		{color:#cccc00}
A:visited	{color:#cccc99}
A:active	{color:#dddd00}
A:hover		{color:#eeee00}

A:link,A:visited,A:active,A:hover{
  text-decoration:none;
  font-weight:bold;
}

body{
  background: url(../theme/lmb/lmbgreen1.jpg) #042004;
  color: #f6f6f6;
  font-family: tahoma, verdana, dejavu sans, sans-serif;
}

table{
  color: white;
  font-size: 10pt;
}

table.c1{
  width: 100%;
  background: url(../theme/lmb/lmbgreen4.jpg) #003300;
  border: #669966 1px solid;
}

table.c2{
  width: 100%;
  background: black;
  border: #335533 1px solid;
  font-size: 9pt;
}

tr.h{
  background: url(../theme/lmb/lmbgreen2.jpg) #669966;
  text-align: center;
  font-size: 9pt;
  font-weight: bold;
  color: #ffffff;
}

tr.c{
  background: url(../theme/lmb/lmbgreen3.jpg) #99cc99;
  text-align: center;
  font-size: 9pt;
  color: #EEEEEE;
}

td.b{
  border-left: #000000 1px solid;
  border-top:  #000000 1px solid;
  padding: 1px;
}

td.nb{
  border: 0px none;
  padding: 1px;
}

td.h{
  border-left: 0;
  border-right: 0;
  padding: 1px;
}
/*
tr.n1,td.n1{
  background: url(../theme/lmb/lmbgreen4.jpg) #003300;
  background-attachment:fixed;
}

tr.n2,td.n2{
  background: url(../theme/lmb/lmbgreen4.jpg) #003300;
  background-attachment:fixed;
}

tr.n3,td.n3{
  background: url(../theme/lmb/lmbgreen4.jpg) #003300;
  background-attachment:fixed;
}
*/
.sfont{
  font-size: 9pt;
}

textarea,input,select{
  border:    #77dd77 ridge 2px;
  background:#000000;
  color:     #FFFFFF;
  font: 10pt tahoma;
}

.radio{
  border: none;
  background: none;
  color: #DDDDDD;
  font: 10pt tahoma;
}

.submit{
  border: #FFD040 ridge 2px;
  color: #FFD040;
  font-weight: bold;
}

ins{
  border: 1px #30a050 dashed;
  text-decoration: none;
  color: #40FF30;
}

del{
  border: 1px #003010 dashed;
  text-decoration: none;
  color: #FF4000;
}
img { border: 0; }
.nc0x{color:#888888} .nc1x{color:#888888} .nc2x{color:#888888}
.nc00{color:#97ACEF} .nc10{color:#F185C9} .nc20{color:#7C60B0}
.nc01{color:#D8E8FE} .nc11{color:#FFB3F3} .nc21{color:#EEB9BA}
.nc02{color:#AFFABE} .nc12{color:#C762F2} .nc22{color:#47B53C}
.nc03{color:#FFEA95} .nc13{color:#C53A9E} .nc23{color:#F0C413}
