{% extends "layout.twig" %}
{% import "common_form_macros.twig" as forms %}
{% block head_title %}Reset Password - Change Password{% endblock %}
{% block content %}
	{% if error_message %}
		<p class="error-message">{{ error_message }}</p>
	{% endif %}
	<form action="resetpassword.php?action=change" method="post">
		<input type="hidden" name="token" value="{{ token }}">
		<table cellspacing="0" class="c1">
			<tr class="h">
				<td class="b h" colspan="2">Reset Password</td>
			</tr>
			<tr>
				<td class="b n1" align="center">Password:</td>
				<td class="b n2"><input type="password" name="pass" size="13" maxlength="32" /></td>
			</tr>
			<tr>
				<td class="b n1" align="center">Password (confirm):</td>
				<td class="b n2"><input type="password" name="pass2" size="13" maxlength="32" /></td>
			</tr>
			<tr class="n1">
				<td class="b">&nbsp;</td>
				<td class="b"><input type="submit" class="submit" name="action" value="Login" /></td>
			</tr>
		</table>
	</form>
{% endblock %}