{% extends "layout.twig" %}
{% import "common_form_macros.twig" as forms %}
{% block head_title %}Reset Password{% endblock %}
{% block content %}
	{% if error_message %}
		<p class="error-message">{{ error_message }}</p>
	{% endif %}
	<form action="resetpassword.php?action=reset" method="post">
		<table cellspacing="0" class="c1">
			<tr class="h">
				<td class="b h" colspan="2">Reset Password</td>
			</tr>
			<tr>
				<td class="b n1" align="center" width="120">Username:</td>
				<td class="b n2"><input type="text" name="name" size="25" maxlength="25" /></td>
			</tr>
			<tr>
				<td class="b n1">&nbsp;</td>
				<td class="b n2">You will only be able to reset your password if you've provided a valid email address during registration or updated your profile with a valid email address.</td>
			</tr>
			<tr class="n1">
				<td class="b">&nbsp;</td>
				<td class="b"><input type="submit" class="submit" name="action" value="Reset" /></td>
			</tr>
		</table>
	</form>
{% endblock %}