{% extends "layout.twig" %}
{% block head_title %}Success{% endblock %}
{% block content %}
<table cellspacing="0" class="c1">
	<tr class="h">
		<td class="b h" align="center">{{ message_title|default('Information') }}</td>
	</tr>
	<tr>
		<td class="b n1" align="center">
			{{ message_body }}
			{% if message_link %}
				<br /><a href="{{ message_link }}">{{ message_link_label|default('Click here to continue') }}</a>
			{% endif %}
		</td>
	</tr>
</table>
{% endblock %}